<div class="contador-header" *ngIf="descuentoHeader && end>now; else separador_blanco">
  <div class="row">
    <div class="texto-contador">Usa el código: {{descuentoHeader}} antes de:</div>
    <div class="contador">
      <ul>
        <li class="count-bg-one radius"><span id="days">{{day}}</span><label>DAYS</label></li>
        <label class="contador-separador">:</label>
        <li class="count-bg-two radius"><span id="hours">{{hours}}</span><label>HRS</label></li>
        <label class="contador-separador">:</label>
        <li class="count-bg-three radius"><span id="minutes">{{minutes}}</span><label>MINS</label></li>
        <label class="contador-separador">:</label>
        <li class="count-bg-four radius"><span id="seconds">{{seconds}}</span><label>SECS</label></li>
      </ul>
    </div>
    <button class="contador-boton" routerLink="/carrito">Aplica aqui el cupón</button>
  </div>
</div>
<ng-template #separador_blanco>
  <div id="separador_blanco"></div>
</ng-template>
<div class="header-envio">
  <div class="eslogan">El sabor de las cosas buenas</div>
  <div class="envio-gratis">
    Envío gratis
    <img src="assets/images/comunes/envio-gratis.png" alt="Envío gratis">
  </div>
</div>
<div [ngClass]="['header']" [class.fixed]="_datosService.globalScroll || _datosService.seccion != 'productos'"
  #cabecera>
  <div class="contenido">
    <img class="logotipo" src="assets/images/comunes/logo.png" alt="logotipo Charcutería Redondo"
      (click)="_datosService.menuOpen = false;" routerLink="/">
    <div class="menu-interior">
      <div [ngClass]="['bt']" routerLinkActive="selected" routerLink="/{{item.link}}"
        [routerLinkActiveOptions]="{exact: true}" *ngFor="let item of apartados">
        <span [innerHTML]="item.name | translate"></span>
      </div>
    </div>
    <div class="bts-inicio-sesion">
      <div [ngClass]="['bt']" routerLink="/{{inicioSesion.link}}" *ngIf="!usuario">
        <span [innerHTML]="inicioSesion.name | translate"></span>
      </div>
      <div [ngClass]="['bt']" (click)="logout()" *ngIf="usuario">
        <span [innerHTML]="cierreSesion.name | translate"></span>
      </div>
      <div [ngClass]="['bt']" routerLink="/{{misPedidos.link}}">
        <span [innerHTML]="misPedidos.name | translate"></span>
      </div>
    </div>
    <div class="buscador">
      <input class="form-control mr-sm-2" type="search" placeholder="Busca aquí" aria-label="Search"
        (keyup.enter)="_datosService.buscar(buscar.value)" (keyup.shift.enter)="_datosService.buscar(buscar.value)"
        #buscar>
    </div>
    <div class="header-info">
      <a href="mailto:pedidos@charcuredondo.com?subject=contacto web">pedidos@charcuredondo.com</a> · Joaquín María
      Jalón. <a href="tel:983471579">983 47 15 79</a> · Mateo Seoane Sobral. <a href="tel:983252549">983 25 25 49</a>
    </div>
    <div class="header-info-movil">
      <a href="mailto:pedidos@charcuredondo.com?subject=contacto web">pedidos@charcuredondo.com</a> <br> Joaquín María
      Jalón. <a href="tel:983471579">983 47 15 79</a> · Mateo Seoane Sobral. <a href="tel:983252549">983 25 25 49</a>
    </div>
  </div>

</div>

<div [ngClass]="['header-menus','fijo']" class="{{_datosService.seccion}}"
  [class.fixed]="_datosService.globalScroll || _datosService.seccion != 'productos'">
  <div class="icomenu hamburguesa" (click)="_datosService.changeMenu()">
    <div id="nav-icon2" [ngClass]="{'open': _datosService.menuOpen}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="icomenu bolsa" routerLink="/carrito" (click)="_datosService.menuOpen = false;">
    <svg width="32px" height="42px" viewBox="0 0 32 42" version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <polygon id="path-1" class="ico"
          points="0.122006987 0.40937931 16.3184347 0.40937931 16.3184347 12.1626236 0.122006987 12.1626236"></polygon>
      </defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="03-HOME-COMPLETA" transform="translate(-1400.000000, -483.000000)">
          <g id="bt-compra" transform="translate(1381.000000, 476.000000)">
            <g id="Group-8" transform="translate(19.090909, 7.080460)">
              <polygon id="Fill-1" class="ico" fill="#FFFFFF"
                points="0 11.7535632 3.37590909 41.4297011 3.94418182 41.4297011 27.7320909 41.4297011 28.301 41.4297011 31.6762727 11.7535632">
              </polygon>
              <g id="Group-7" transform="translate(7.636364, 0.234492)">
                <path class="ico"
                  d="M1.14780909,15.5633011 C0.849990909,15.5633011 0.586536364,15.3470253 0.534354545,15.0406345 C0.498081818,14.8269333 -0.327281818,9.79015172 2.30471818,6.62647356 C3.64999091,5.0101977 5.63417273,4.1907954 8.2019,4.1907954 C10.7709,4.1907954 12.7582636,5.01084138 14.1092636,6.62776092 C16.7520818,9.7907954 15.9496273,14.825646 15.9133545,15.0380598 C15.8560818,15.3811402 15.5366273,15.6154391 15.1955364,15.5542897 C14.8563545,15.4963586 14.6279,15.1719448 14.6839,14.827577 C14.6915364,14.7825195 15.4246273,10.1499678 13.1540818,7.43815172 C12.0512636,6.11989885 10.3846273,5.4524046 8.2019,5.4524046 C6.02171818,5.4524046 4.3589,6.11925517 3.26117273,7.43493333 C1.00208182,10.1454621 1.7549,14.7786575 1.76317273,14.825646 C1.82108182,15.1687264 1.59326364,15.4950713 1.25408182,15.553646 C1.21844545,15.5600828 1.18280909,15.5633011 1.14780909,15.5633011"
                  id="Fill-2" fill="#FFFFFF"></path>
                <g id="Group-6">
                  <mask id="mask-2" class="ico" fill="white">
                    <use xlink:href="#path-1"></use>
                  </mask>
                  <g id="Clip-5"></g>
                  <path class="ico"
                    d="M0.911654545,12.1626207 C0.604290909,12.1626207 0.331927273,11.9386207 0.277836364,11.621931 C0.240290909,11.4017931 -0.613072727,6.19572414 2.10738182,2.92648276 C3.4972,1.25678161 5.5482,0.409057471 8.20183636,0.409057471 C10.8567455,0.409057471 12.9102909,1.25742529 14.3071091,2.92777011 C17.0390182,6.19636782 16.2085636,11.3992184 16.1710182,11.6193563 C16.1124727,11.9733793 15.7802909,12.2147586 15.4296545,12.1529655 C15.0796545,12.0937471 14.8429273,11.7571034 14.9008364,11.4024368 C14.9091091,11.3548046 15.6663818,6.56777011 13.3201091,3.76455172 C12.1797455,2.40317241 10.4577455,1.71314943 8.20183636,1.71314943 C5.94847273,1.71314943 4.23029091,2.40252874 3.09629091,3.76197701 C0.760836364,6.56326437 1.53910909,11.3515862 1.54738182,11.3998621 C1.6072,11.7545287 1.37238182,12.0918161 1.02174545,12.1523218 C0.984836364,12.1587586 0.947927273,12.1626207 0.911654545,12.1626207"
                    id="Fill-4" fill="#FFFFFF" mask="url(#mask-2)"></path>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
    <div class="numero">{{numProductos}}</div>
  </div>
</div>

<div class="menu" [ngClass]="{'open': _datosService.menuOpen}">
  <div class="listado">
    <img class="logotipo" src="assets/images/comunes/logo-blanco.png" alt="logotipo Charcutería Redondo" routerLink="/">
    <div class="bt" (click)="_datosService.menuOpen = false;" routerLinkActive="selected" routerLink="/{{item}}"
      *ngFor="let item of apartadosTodos">
      <span [innerHTML]=" item | translate"></span>
    </div>
    <br>
    <div class="bt" (click)="_datosService.menuOpen = false;" routerLinkActive="selected"
      routerLink="/{{inicioSesion.link}}" *ngIf="!usuario">
      <span [innerHTML]=" inicioSesion.name | translate"></span>
    </div>
    <div class="bt" (click)="_datosService.menuOpen = false; logout();" *ngIf="usuario">
      <span [innerHTML]=" cierreSesion.name | translate"></span>
    </div>
    <div class="bt" (click)="_datosService.menuOpen = false;" routerLinkActive="selected"
      routerLink="/{{misPedidos.link}}">
      <span [innerHTML]=" misPedidos.name | translate"></span>
    </div>
    <br>
    <div class="bt bt-mini" (click)="_datosService.menuOpen = false;" routerLinkActive="selected" routerLink="/{{item}}"
      *ngFor="let item of apartadosSecundarios">
      <span [innerHTML]=" item | translate"></span>
    </div>
  </div>
</div>