<div class="fotoCabecera">
  <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d23852.57509689616!2d-4.752829889068694!3d41.64338432144698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scharcuter%C3%ADa+redondo!5e0!3m2!1ses!2ses!4v1557905490974!5m2!1ses!2ses" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<section class="contacto">
  <div class="contenido">
    <h1 class="titulo "[innerHTML]="'contacta-con-nosotros'| translate"></h1>
    <h4 class="subtitulo">
      <a href="tel:983471579"> <img src="assets/images/comunes/phone.svg" alt="icono teléfono"> +34 983 471 579</a>
      <a href="mailto:pedidos@charcuredondo.com"><img src="assets/images/comunes/email.svg" alt="icono email"> pedidos@charcuredondo.com</a>
    </h4>
    <p>
      <a href="https://www.google.com/maps/place/Redondo+Charcuter%25C3%25ADa+Carnicer%25C3%25ADa/@41.6468797,-4.7554423,13.25z/data=!4m8!1m2!2m1!1sredondo+charcuteria+carnideria!3m4!1s0xd4712a67152fea7:0xee0add1a1594ed5b!8m2!3d41.6594855!4d-4.7158402" target="_blank" class="direccion"><i class="fas fa-map-marker-alt"></i> Portillo del Prado 17</a>
      <a href="https://www.google.com/maps/place/Redondo+Charcuter%C3%ADa+Carnicer%C3%ADa/@41.6435394,-4.75283,14z/data=!4m8!1m2!2m1!1sredondo+charcuteria+carnideria!3m4!1s0xd476d268e2aa327:0xd44c847ae315a5b4!8m2!3d41.6272858!4d-4.7414569" target="_blank" class="direccion"><i class="fas fa-map-marker-alt"></i> Joaquín María Jalón 18</a>
      <a href="https://www.google.com/maps/place/Redondo+Charcuter%25C3%25ADa+Carnicer%25C3%25ADa/@41.6434779,-4.75283,14z/data=!4m8!1m2!2m1!1sredondo+charcuteria+carnideria!3m4!1s0xd476d07421241cb:0x29f1275b827ada89!8m2!3d41.6375445!4d-4.7548005" target="_blank" class="direccion"><i class="fas fa-map-marker-alt"></i> Mateo Seoane Sobral 3</a>
    </p>
<!--
    <h3 class="titulo2 "[innerHTML]="'siguenos'| translate"></h3>

    <a href="https://www.facebook.com/" target="_blank" class="icono"><img src="assets/images/comunes/facebook.svg" alt="facebook"></a>
    <a href="https://twitter.com" target="_blank" class="icono"><img src="assets/images/comunes/twitter.svg" alt="twitter"></a>
    <a href="https://www.instagram.com/" target="_blank" class="icono"><img src="assets/images/comunes/instagram.svg" alt="instagram"></a>
-->
  </div>
</section>
