
<div class="banner-header">
  <div class="row">
    <div class="col-md-4 item">
      <div class="icono"><img src="assets/images/comunes/ico-precio.png" /></div>
      <div class="texto">ENVÍO GRATIS DESDE 60€, para pedidos inferiores coste fijo de 5€</div>
    </div>
    <div class="col-md-4 item">
      <div class="icono"><img src="assets/images/comunes/ico-tiempo.png" /></div>
      <div class="texto">Tu pedido en menos de 24h. Envío solo Valladolid y provincia o recogida en tienda </div>
    </div>
    <div class="col-md-4 item">
      <div class="icono"><img src="assets/images/comunes/ico-pago.png" /></div>
      <div class="texto">Forma de pago a la entrega del pedido: Visa, ServiRed, MasterCard, Maestro o contado</div>
    </div>
  </div>
</div>
